@media only screen and (min-width: 450px) and (max-width: 499px) {
   .wrap__mountain, .header, .slider__wrap, .violet__wrap, .white, .logos, .news, .fppter__wrap {
   		width: 100%;
   }

   .header {
   		height: 200px;
   }

	.header__logo {
		margin: 0 auto;
		padding: 0;
		width: 150px;
		padding-top: 70px;
		padding-bottom: 50px;
	}

	.header__menu, .menu__item  {
		margin: 0;
		padding: 0;
	}

	.header__menu {
		margin-left: 90px;
		margin-top: 120px;
		position: absolute;
		z-index: 100;
		display: block;
	    visibility: hidden;
	}

	.menu__item {
		display: block;
	    width: 260px;
	    height: 43px;
		text-align: center;
	}

	.menu {
		padding: 0;
		margin: 0;
		border-radius: 8px;
		border: 1px solid rgba(15, 25, 31, 0.5);
	}

	.menu__link {
		padding-top: 6px;
		font-size: 22px;
	}

	.menu__link--hover:hover .menu__item {
		display: block;
	}

	.header__menu:hover {
		visibility: visible;
		transition-delay: 0.2s;
	}
	
	.menu__item {
		border-bottom: 1px solid rgba(105, 82, 114, 0.9);
		border-top: 1px solid rgba(82, 62, 90, 0.9);
		z-index: 10;
	}

	.menu__link--home {
		visibility: visible;
		border: none;
		border-bottom: 1px solid rgba(105, 82, 114, 0);
		border-top: 1px solid rgba(82, 62, 90, 0);
		border-radius: 8px 8px 0 0;
	}

	.menu:hover {
		background: url(../img/menu.png) no-repeat;
		background: rgba(72, 59, 78, 0.9);
	}	
	
	.menu__item--last {
		border-bottom: none;
	}

	.header__menu:hover .menu__link--home {
		border-bottom: 1px solid rgba(105, 82, 114, 1);
		transition-delay: 0.2s;
	}

	.menu__item:hover {
		background-color: rgba(45, 36, 50, 0.75);
		transition-delay: 0.2s;
	}	
	
	.slider {
		height: 245px;
		margin-top: 205px;
	}

	.slider__wrap {
		margin: 0 auto;
		margin-top: -180px;
		width: 100%;
	}

	.slider__img {
		position: absolute;
		height: 260px;
		margin-left: 240px;
		margin-top: -21px;
	}

	.slider__switcher {
		margin: 0 auto;
		padding: 0;
		width: 100px;
		margin-top: 30px;
		padding-bottom: 60px;
	}

	.slider__textH1 {
		font-size: 36px;
		padding-top: 90px;
		padding-left: 10px;
		letter-spacing: 1px;
	}

	.slider__textH2 {
		font-size: 24px;
		margin-top: -15px;
		padding-left: 10px;
		letter-spacing: -1px;
	}

	.slider__textP {
		display: none;
	}

	.violet {
		height: 600px;
	}

	.article__wrap {
		margin: 0 auto;
		margin-top: 40px;
	}

	.article {
		height: 140px;
		width: 380px;
		float: none;
		margin: 0;
		padding-bottom: 20px;
	}

	.article__body {
		width: 370px;
	}
	
	.article__wrap .none__span {
		visibility: visible;
	}

	.article__block {
		margin-left: 45px;
	}
	
	.article__block--third {
		margin-left: -10px;
	}

	.article__heading {
		font-size: 26px; 
	}

	.article__link {
		font-size: 18px; 
		margin: 0;
		margin-right: -100px;
	}

	.article__block--second .article__icon, .article__block--third .article__icon {
		display: none;
	}

	.article__icon {
		display: block;
		margin: 0;
		padding: 0;
		margin-left: -35px;
	}
	
	.article__icon--extra1, .article__icon--extra2 {
		width: 26px;
		height: 26px;
		display: block;
		position: absolute;
		background: url(../img/sprite.png) 0 0 no-repeat;
		margin-left: 12px;
		margin-top: 6px;
	}
	.article__icon--extra1 {
		margin-top: 0px;
		margin-left: -35px;
	}

	.article__icon--extra2 {
		margin-top: 0px;
		margin-left: 15px;
	}

	.wrap__white {
		height: 780px;
	}

	.white {
		padding-top: 70px;
		width: 100%;
	}

	.comment {
		background-color: white;
		background-image: none;
		height: 250px;
		width: 400px;
		margin-left: 20px;
		margin-bottom: 70px;
	}
	.comment__heading {
		padding-left: 40px;
		font-size: 28px;
		margin-top: 10px;
		width: 100px;
	}

	.comment .none__span {
		visibility: visible;
	}

	.comment__body {
		padding-top: 24px;
		width: 350px;
		letter-spacing: -0.5px;
	}

	.slider__switcher--comment {
		margin: 0 auto;
		padding: 0;
		margin-top: -330px;
		margin-left: 175px;
	}

	.slider__switcher--comment .slider-switch__link:hover {
		margin-bottom: -1px;
	}

	.updates {
		float: none;
		width: 350px;
		margin: 0 auto;
		margin-left: 10px;
		margin-right: 0;
		padding-right: 0;
	}

	.update__link--old {
		display: none;
	}

	.update {
		padding: 0;
		margin: 0;
		margin-top: 15px;
	}

	.update__icon {
		margin-bottom: 10px;
	}
	
	.update--second {
		margin-top: 5px;
	}
	
	.update--last {
		margin-top: 5px;
	}
	  
	.wrap-logos {
		height: 235px;
		width: 100%;
	}
	 
	.logos {
		margin: 0;
		margin-left: -30px;
	}

	.logos__item {
		float: left;
		margin: 0;
		padding: 15px;
	}

	.wrap-news {
		height: 670px;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.news {
		margin: 0 auto;
		margin-top: 75px;
	}

	.news__item3 {
		margin: 0 auto;
		width: 370px;
		height: 150px;
		padding-bottom: 20px;
		padding-top: 10px;
	}

	.none__span{
		visibility: hidden;
	}

	.none__span--newsitems {
		visibility: visible;
	}

	.news__heading {
		padding-left: 30px;
	}

	.news__body {
		padding-left: 30px;
		font-size: 14px;
		line-height: 26px;
		width: 370px;
		letter-spacing: -0.8px;
	}
	
	.news__item1, .news__item2 {
		display: none;
	}

	footer {
		height: 200px;
	}

	.menu--footer {
		background-color: rgba(45, 36, 50, 0);
    	border-radius: 8px;
    	border: 1px solid rgba(15, 25, 31, 0);
    	width: 370px;
    	margin-left: 35px;
	}

	.menu__item--footer {
		display: block;
		float: left;
		border: none;
		width: auto;
		padding: 7px;
	}

	.menu__link--footer {
		padding: 0;
	}

	.menu--footer:hover {
		background-color: rgba(72, 59, 78, 0);
		background: none;
	}	
	
	.menu__item--footer:hover {
		background-color: rgba(45, 36, 50, 0);
	}

	.footer__text {
		float: left;
		padding-top: 100px;
		margin-left: 150px;
	}
}
