* {
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HEADER */

.wrap__mountain{
	background: #e3e3e3;
	background:url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

header {
	margin: 0 auto;
	max-width: 960px;
}

.header__logo {
	padding-top: 70px;
}

.menu {
	list-style: none;
	position: absolute;
	margin: 0 auto;
	margin-top: 72px;
}


.menu__dropbox {
	list-style: none;
	margin-top: -33px;
	margin-left: 89px;
}

.header__menu {
	margin-left: 320px;	
}

.menu__item {
	float: left;
	margin-right: 39px;
}

.menu__link {
	display: inline-block;
	text-decoration: none;
	font-family: "LeagueGothic";
	font-size: 24px;
	line-height: 33.72px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	color: white;
	letter-spacing: 0.1px;
	padding-left: 6px;
	padding-right: 6px;
}

.menu__link:hover {
	border-bottom: 2.5px	solid #edbfff;
	transition-delay: 0.2s;
	line-height: 33.72px;
}



/* SLIDER */


.slider {
	clear: both;
	height: 400px;
	margin-top: 165px;
	background-image: url('../img/overlay.png');
}

.slider__wrap {
	margin: 0 auto;
	max-width: 960px;

}

.slider__img {
	position: absolute;
	margin-left: 622px;
	margin-top: -21px;
}

.slider__switcher {
	margin: 0 auto;
	max-width: 100px;
	margin-top: 93px;
	padding-left: 548px;
	padding-bottom: 57px;
}

.slider-switch {
	position: relative;
	overflow: hidden;
}

.slider-switch__item {
	float: left;
	list-style: none;
	margin-left: 5px;
}

.slider-switch__link {
	display: block;
	height: 17px;
	width: 17px;
	background: url(../img/dots.png) 0 0 no-repeat;
}

.slider-switch__link:hover {
	background-position: 0 -18px;
}

.slider__textH1 {
	font-family: "LeagueGothic";
	font-size: 60px;
	line-height: 72px;
	color: white;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	padding-top: 72px;
	padding-left: 1px;
	letter-spacing: -0.5px;
}

.slider__textH2 {
	font-family: "LeagueGothic";
	font-size: 32px;
	color: #edbfff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	margin-top: -10px;
	padding-left: 1px;
	letter-spacing: -0.1px;
}

.slider__textP {
	font-family: 'Myriad';
	font-size: 17px;
	line-height: 24px;
	color: white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	padding-top: 5px;
	max-width: 515px;
	letter-spacing: -0.16px;
	margin-left: -2px;
}

/* VIOLET */

.violet {
	height: 343px;
	border-top: 1px solid #33253a;
	background: rgb(117,80,131);
    background: -moz-linear-gradient(top, rgba(117,80,131,1) 0%, rgba(113,76,127,1) 11%, rgba(111,78,125,1) 12%, rgba(109,76,123,1) 13%, rgba(110,77,124,1) 15%, rgba(105,73,120,1) 22%, rgba(101,70,112,1) 29%, rgba(94,66,107,1) 35%, rgba(94,66,107,1) 37%, rgba(87,61,100,1) 44%, rgba(86,60,97,1) 48%, rgba(83,57,92,1) 50%, rgba(80,56,90,1) 56%, rgba(75,54,85,1) 59%, rgba(65,47,73,1) 74%, rgba(60,44,70,1) 77%, rgba(60,44,70,1) 81%, rgba(57,42,65,1) 84%, rgba(50,37,57,1) 100%);
    background: -webkit-linear-gradient(top, rgba(117,80,131,1) 0%,rgba(113,76,127,1) 11%,rgba(111,78,125,1) 12%,rgba(109,76,123,1) 13%,rgba(110,77,124,1) 15%,rgba(105,73,120,1) 22%,rgba(101,70,112,1) 29%,rgba(94,66,107,1) 35%,rgba(94,66,107,1) 37%,rgba(87,61,100,1) 44%,rgba(86,60,97,1) 48%,rgba(83,57,92,1) 50%,rgba(80,56,90,1) 56%,rgba(75,54,85,1) 59%,rgba(65,47,73,1) 74%,rgba(60,44,70,1) 77%,rgba(60,44,70,1) 81%,rgba(57,42,65,1) 84%,rgba(50,37,57,1) 100%);
    background: linear-gradient(to bottom, rgba(117,80,131,1) 0%,rgba(113,76,127,1) 11%,rgba(111,78,125,1) 12%,rgba(109,76,123,1) 13%,rgba(110,77,124,1) 15%,rgba(105,73,120,1) 22%,rgba(101,70,112,1) 29%,rgba(94,66,107,1) 35%,rgba(94,66,107,1) 37%,rgba(87,61,100,1) 44%,rgba(86,60,97,1) 48%,rgba(83,57,92,1) 50%,rgba(80,56,90,1) 56%,rgba(75,54,85,1) 59%,rgba(65,47,73,1) 74%,rgba(60,44,70,1) 77%,rgba(60,44,70,1) 81%,rgba(57,42,65,1) 84%,rgba(50,37,57,1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#765384', endColorstr='#36293d')";
}

.violet__wrap {
	max-width: 960px;
	margin: 0 auto;
}

.article__wrap {
	margin-top: 81px;
	overflow: hidden;
}

.article {
	height: 210px;
	max-width: 235px;
	float: left;
	margin-left: 61px;
	margin-right: 45px;
}

.article__block--third .article{
	margin-left: 55px;
	margin-right: -15px;
}

.article__heading {
	font-family: "LeagueGothic";
	font-size: 30px; 
	line-height: 24px;
	color: white;
	padding-bottom: 10px;
	padding-left: 2px;
	letter-spacing: -0.1px;
}

.article__body {
	font-family: 'open_sans';
	font-size: 16px;
	line-height: 24px;
	color: white;
	letter-spacing: -0.1px;
	padding-bottom: 16px;
}

.article__link {
	font-family: "LeagueGothic";
	font-size: 20px; 
	letter-spacing: -0.6px;
	line-height: 24px;
	color: white;
	text-decoration: none;
	float: right;
	margin-right: 15px;
}

.article__link:hover {
	text-shadow: rgb(255, 255, 255) 0px 0px 10px;
	font-size: 21px; 
}

.article__icon 	{
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	background: url(../img/sprite.png) 0 0 no-repeat;
	margin-left: 12px;
	margin-top: 6px;
}

.article__block--second .article__icon {
	width: 28px;
	height: 25px;
	background-position: -32px 0;
	margin-left: 350px;
	margin-top: 5px;
}

.article__block--third .article__icon {
	width: 26px;
	height: 25px;
	background-position: -66px 0;
	margin-left: 686px;
	margin-top: 5px;
}

.article__icon:hover 	{
	background-position: 0 -28px;
}

.article__block--second .article__icon:hover {
	background-position: -32px -28px;
}

.article__block--third .article__icon:hover {
	background-position: -66px -28px;
}


/* WHITE */

/* WHITE-COMMENT */

.wrap__white {
	height: 486px;
	background-color: #f9f9f9;
}

.white {
	padding-top: 100px;
	max-width: 960px;
	margin: 0 auto;
}

.comment {
	background-image: url(../img/comment.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 23px;
	height: 320px;
	width: 430px;
	position: relative;
	padding-top: 32px;
}

.comment__icon {
	position: absolute;
	margin-top: -15px;
	margin-left: -25px;
}

.comment__heading {
	padding-left: 40px;
	padding-top: 40px;
	font-family: "LeagueGothic";
	font-size: 32px;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: -0.7px;
	color: #454545;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.comment__heading-violet {
	color: #edbfff;
}

.comment__body {
	padding-left: 38px;
	padding-top: 11px;
	width: 350px;
	letter-spacing: -0.51px;
	font-family: 'Myriad';
	font-size: 16px;
	line-height: 24px;
	color: #454545;
}

.slider__switcher--comment {
	position: absolute;
	margin-left: -356px;
	margin-top: 293px;
	width: 100px;

}	

.slider__switcher--comment .slider-switch__item {
	margin-left: 1px;
}

.slider__switcher--comment .slider-switch__link {
	height: 20px;
	width: 21px;
	background: url(../img/dotscomment.png) 0 0 no-repeat;
}

.slider__switcher--comment .slider-switch__link:hover {
	width: 19px;
	height: 21px;
	background-position: -23px 0;
	transition-delay: 0.1s;
	padding: 0 2px 0 0;
}


/* WHITE-UPDATE */

.updates	{
	float: right;
	max-width: 450px;
	padding-top: 31px;
	margin-right: 15px;
}

.update__list {
	margin-top: 27px;
	float: left;
	list-style: none;
}

.update__listitem {
	padding-top: 14px;
	list-style: none;
}

.update {
	padding-top: 18px;
}

.updates__heading {
	margin-left: -49px;	
	font-family: "LeagueGothic";
	font-size: 30px;
	line-height: 24px;
	text-decoration: none;
	color: #454545;
	letter-spacing: -0.1px;
}

.updates__heading:hover {
	color: #edbfff;
	transition-delay: 0.2s;
}

.update__heading {
	font-family: 'Myriad';
	margin-left: 17px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #454545;
	letter-spacing: 0.65px;
}

.update__heading:hover {
	text-decoration: underline;
	transition-delay: 0.2s;
}

.update__meta {
	margin-left: 65px;
	padding-top: 1px;
	font-family: 'Myriad';
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #454545;
	letter-spacing: -0.4px;
}

.update--last {
	margin-top: -2px;
}

.update--last .update__meta  {
	margin-top: -2px;
}

.update__link {
	margin-right: 6px;
	margin-top: 20px;
	font-family: "LeagueGothic";
	font-size: 22px;
	line-height: 24px;
	text-decoration: none;
	color: #454545;
	float: right;
	letter-spacing: -1.2px;
}

.update__link:hover {
	color: #edbfff;
	transition-delay: 0.2s;
}


/* LOGOS */

.wrap-logos {
	height: 119px;
	background-color: #f9f9f9;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid white;
	clear: both;
}

.logos {
	margin: 0 auto;
	max-width: 960px;
}

.logos__list {
	position: relative;
	overflow: hidden;
	padding-top: 24px;
	margin-left: 93px;
}

.logos__item {
	float: left;
	list-style: none;
	margin-right: 66px;
}

.logos__link {
	display: block;
	background: url(../img/logos.png) 0 0 no-repeat;
	width: 68px;
	height: 65px;
}

.logos__link:hover {
	background-position: 0 -65px;
}

.logos__link--second {
	background-position:-71px 0;
	width: 72px;
}

.logos__link--second:hover {
	background-position:-71px -65px;
}

.logos__link--third {
	background-position: -144px 0;
	width: 64px;
	margin-right: 7px;
}

.logos__link--third:hover {
	background-position: -144px -65px;
}

.logos__link--fourth {
	background-position: -208px 0;
	width: 50px;
	margin-right: 2px;
}

.logos__link--fourth:hover {
	background-position: -208px -65px;
}

.logos__link--fifth {
	background-position: -260px 0;
	width: 104px;
}

.logos__link--fifth:hover {
	background-position: -260px -65px;
}

.logos__link--sixth{
	background-position: -367px 0;
	width: 80px;
}

.logos__link--sixth:hover {
	background-position: -367px -65px;
}


/* RECENY COMMENTS NEWS */

.wrap-news {
	height: 399px;
	background-color: #ececec;
	border-top: 1px solid #e6e6e6;
}

.news {
	margin: 0 auto;
	max-width: 960px;
	height: 399px;
	margin-top: 105px;
}

.news__item1 {
	width: 280px;
	height: 210px;
	float: left;
	margin-right: 58px;
}

.news__item2 {
	width: 280px;
	height: 210px;
	float: left;
	margin-right: 60px;
}

.news__item3 {
	width: 280px;
	height: 210px;
	float: left;
}

.news__links {
	text-decoration: none;
}

.news__heading:hover {
	color: #edbfff;
	transition-delay: 0.2s;
}

.news__head {
	font-family: "LeagueGothic";
	font-size: 50px;
	line-height: 24px;
	color: #454545;
	letter-spacing: -1.1px;
	padding-bottom: 22px;
	text-decoration: none;
}
.news__violet {
	color: #b9b9b9;
}

.news__copyright {
	font-family: 'Myriad';
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	color: #c8c8c8;
	letter-spacing: 0.55px;
	text-shadow: 0px 2px 2px white;
	margin-left: -1px;
	padding-bottom: 9px;
}

.news__body {
	font-family: 'Myriad';
	font-size: 16px;
	line-height: 24px;
	color: #787878;
	letter-spacing: -0.587px;
	text-shadow: 0px 2px 2px white;
}

.news__heading {
	font-family: "LeagueGothic";
	font-size: 30px;
	line-height: 24px;
	color: #454545;
	letter-spacing: -0.1px;
	padding-bottom: 12px;
	margin-top: -6px;
}

.span__hidden {
	display: none;
}


/* FOOTER */

footer {
	background:url(../img/bg.jpg) repeat-y center center fixed;
	background-size: cover;
	opacity: 0.9;
	height: 114px;
	margin-top: -4px;
}

.footer__wrap {
	max-width: 960px;
	margin: 0 auto;
}

.menu--footer {
	margin-left: 2px;
	margin-top: 40px;
}

.menu--footer .menu__item {
	margin-left: -8.5px;
}

.menu--footer .menu__link{
	font-size: 20px;
}

.menu--footer  .menu__link:hover {
	color: #edbfff;
	transition-delay: 0.2s;
	border-bottom: none;
}

.footer__text {
	float: right;
	font-family: 'Myriad';
	font-size: 11.3px;
	color: white;
	letter-spacing: 0.25px;
	padding-top: 54px;
}

.footer__bold {
	font-weight: bold;
}

